* {
  margin: 0;
  padding: 0;
  border-image: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#meme-insert {
  width: fit-content;
}

#meme-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 352px;
  width: 352px;
  overflow: hidden;
  background-color: white;
  border: 1px black solid;
  border-radius: 5px;
}

#meme-text {
  width: 346px;
  text-align: center;
  line-height: 28px;
  font-size: 30px;
  color: white;
  text-shadow: black 5px 5px 5px;
  margin-bottom: 5px;
}

#meme-image {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

#fire {
  background-color: red;
  margin: 10px;
}

#water {
  background-color: blue;
  margin: 10px;
}

#earth {
  background-color: green;
  margin: 10px;
}

/* eu usei !important por não achar outra maneira de cumprir o requisito 6 */
.fire {
  border: 3px dashed red ! important;
}

.water {
  border: 5px double blue ! important;
}

.earth {
  border: 6px groove green ! important;
}

/* eu usei !important por não achar outra maneira de cumprir o requisito 6 */
#meme-1 , #meme-2 , #meme-3 , #meme-4 {
  width: 85px;
  height: 85px;
  object-fit: cover;
  padding: 6px;
  border-radius: 10px;
}

#img-previewer {
  padding: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
